/* initial style */
body {
    margin: 0;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    justify-content: center;
    align-items: center;
    align-content: center;

    gap: 10px;
    display: flex;
    color: white;
    background-color: #709dcf;
    padding: 10px;
}

#container {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    padding: 20px 20px 50px 20px;
}

#footer {
    background-color: #709dcf;
    color: white;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    background-color: rgb(210, 210, 210);
    padding: 10px;
}

.form>form>legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid gray;
}

.pref-saved {
    background-color: #709dcf;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

.center {
    /* center items horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.autocomplete-focus {
    background-color: #709dcf;
    color: white;
}

.illust-tags {
    /* wrap the tags */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.illust_gallery {
    /* wrap the gallery */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.illust-pages {
    /* should be centered and vertical */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.anchor-white {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.illust-tag {
    /* tag style */
    background-color: #709dcf;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.illust-tag a {
    color: white;
    text-decoration: none;
}

.nowrap {
    /* prevent text from wrapping */
    white-space: nowrap;
}

.illust-pages>a>img {
    max-width: 100%;
    max-height: auto;
}

.illust>.ugoira-illust>img,
.illust>.ugoira-illust>canvas {
    max-width: 100%;
    max-height: auto;
}

.illust-full {
    flex: 1;
}

.illust-info {
    padding: 10px;
    max-width: 30%;
}

.illust-hover-info {
    user-select: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px;
    z-index: 1;
}

.illust:hover .illust-hover-info {
    visibility: visible;
    opacity: 1;
}

.illust a {
    position: relative;
}

.flex {
    display: flex;
}

/* change the flex direction to column when the screen is small */
@media screen and (max-width: 600px) {
    .flex {
        flex-direction: column;
    }

    .illust-info {
        max-width: 100%;
    }
}

* {
    box-sizing: border-box;
}