<!DOCTYPE html>
{% macro illust_gallery(illusts, image_size) -%}
<div class="illust_gallery">
    {% for illust in illusts %}
    <div class="illust">
        <a href="/artworks/{{ illust.id }}">
            <img alt="{{ illust.title }}" width="{{ image_size }}" height="{{ image_size }}" loading="lazy" src="{{ proxy_url(illust.image_urls.square_medium) }}">
            <!-- info that appears on hover -->
            {# <div class="illust-hover-info">
                <span>{{ illust.title }}</span>
                <br>
                <span class="nowrap">{{ illust.user.name }}</span>
                <span class="nowrap">{{ illust.total_view }} views</span>
                <span class="nowrap">{{ illust.total_bookmarks }} bookmarks</span>
            </div> #}
        </a>
    </div>
    {% endfor %}
</div>
{%- endmacro %}
<html lang="ja">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/jszip.js"></script>
    <script src="/static/script.js"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div id="header">
        <a href="/" class="anchor-white">
            <span>[home]</span>
        </a>
        <a href="/pref" class="anchor-white">
            <span>[preferences]</span>
        </a>
        <!-- search bar -->
        <div id="search">
            <form action="/search" method="get">
                <input value="{% if keyword %}{{ keyword }}{% endif %}" autocomplete="off" type="text" name="q" id="search-bar" placeholder="search works">
                <select name="s" id="sort-by">
                    {# get user's preferred sort option if not specified #}
                    {% if not sort_option %}
                        {% set sort_option = user_prefs()["default_sort"] %}
                    {% endif %}
                    {% if sort_option == "date_desc" %}
                    <option value="date_desc" selected>new</option>
                    {% else %}
                    <option value="date_desc">new</option>
                    {% endif %}
                    {% if sort_option == "date_asc" %}
                    <option value="date_asc" selected>old</option>
                    {% else %}
                    <option value="date_asc">old</option>
                    {% endif %}
                    {% if sort_option == "popular_desc" %}
                    <option value="popular_desc" selected>popular</option>
                    {% else %}
                    <option value="popular_desc">popular</option>
                    {% endif %}
                </select>
                <input type="submit" value="search">
            </form>
        </div>
    </div>
    <div id="container">
        {% block body %}
        {% endblock %}
    </div>
    <div id="footer">
        <a href="https://codeberg.org/Nightdavisao/pixiv-flask" class="anchor-white">codeberg</a>
    </div>
</body>
</html>