{% extends 'base.jinja' %}
{% block title %}{{ illust.title }}{% endblock %}
{% block body %}
<div class="flex">
    <div class="illust-full">
        <div class="illust-pages">
            {% if illust["meta_pages"] %}
            {% for page in illust["meta_pages"] %}
            <a href="{{ proxy_url(page.image_urls.original) }}">
                <img src="{{ proxy_url(page.image_urls.original) }}" alt="{{ illust.title }}">
            </a>
            {% endfor %}
            {% else %}
            {% if illust.type == "illust" %}
            <a href="{{ proxy_url(illust.meta_single_page.original_image_url) }}">
                <img src="{{ proxy_url(illust.meta_single_page.original_image_url) }}" alt="{{ illust.title }}">
            </a>
            {% elif illust.type == "ugoira" %}
            <div data-illust-id="{{ illust.id }}" class="ugoira-illust">
                <img src="{{ proxy_url(illust.meta_single_page.original_image_url) }}" alt="{{ illust.title }}">
                {# <div class="ugoira-play-button">
                    <svg width="100%" height="100%" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M8 5v14l11-7z">
                        </path>
                    </svg>
                </div> #}
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="illust-info">
        <h1>{{ illust.title }}</h1>
        <p>{{ illust.caption }}</p>
        <a href="https://www.pixiv.net/artworks/{{ illust.id }}" target="_blank">open at pixiv</a>
        <br>
        <br>
        <span>illust type:</span>
        <b>{{ illust.type }}</b>
        <br>
        <span>AI art?</span>
        <b>
            {% if illust.illust_ai_type > 1 %}
            yes
            {% else %}
            no
            {% endif %}
        </b>
        <small>
            (AI type: {{ illust.illust_ai_type }})
        </small>
        <br>
        <span>sanity level:</span>
        <b>{{ illust.sanity_level }}</b>
        <br>
        <span>tools:</span>
        <b>
            {# join by comma #}
            {{ illust.tools | join(", ") }}
        </b>
        <br>
        <span>date:</span>
        <b>{{ parse_timedate(illust.create_date) }}</b>
        <br>
        <span>page count:</span>
        <b>{{ illust.page_count }}</b>
        <br>
        <span>views:</span>
        <b>{{ illust.total_view }}</b>
        <br>
        <span>bookmarks:</span>
        <b>{{ illust.total_bookmarks }}</b>
        <br>
        <span>comments:</span>
        <b>{{ illust.total_comments }}</b>
        <br>
        <div class="illust-user-info">
            <h2>user</h2>
            <img width="50" height="50" src="{{ proxy_url(illust.user.profile_image_urls.medium) }}"
                alt="{{ illust.user.name }}">
            <span>
                {{ illust.user.name }}
            </span>
            <small>
                {{ illust.user.account }}
            </small>
        </div>
        <h2>tags</h2>
        <div class="illust-tags">
            {% for tag in illust.tags %}
            <span class="illust-tag">
                <a href="/search?q={{ tag.name }}">
                    {{ tag.name }}
                    {% if tag.translated_name %}
                    <small>
                        {{ tag.translated_name }}
                    </small>
                    {% endif %}
                </a>
            </span>
            {% endfor %}
        </div>
        <h2>related</h2>
        {{ illust_gallery(related_illusts, 100) }}
    </div>
</div>
{% endblock %}