{% extends "base.jinja" %}
{% block title %}preferences{% endblock %}
{% block body %}
<div class="form">
    {% if success == True %}
        <p class="pref-saved">preferences saved</p>
    {% endif %}
    <h1>preferences</h1>
    <form action="pref" method="post">
        <legend>general</legend>
        <div class="setting">
            <label for="enable_javascript">enable javascript:</label>
            {% if prefs.enable_javascript == True %}
            <input type="checkbox" name="enable_javascript" checked>
            {% else %}
            <input type="checkbox" name="enable_javascript">
            {% endif %}
        </div>
        <br>
        <legend>search</legend>
        <div class="setting">
            <label for="default_sort">default sort:</label>
            <select name="default_sort">
                {% if prefs.default_sort == "date_desc" %}
                <option value="date_desc" selected>new</option>
                {% else %}
                <option value="date_desc">new</option>
                {% endif %}
                {% if prefs.default_sort == "date_asc" %}
                <option value="date_asc" selected>old</option>
                {% else %}
                <option value="date_asc">old</option>
                {% endif %}
                {% if prefs.default_sort == "popular_desc" %}
                <option value="popular_desc" selected>popular</option>
                {% else %}
                <option value="popular_desc">popular</option>
                {% endif %}
            </select>
        </div>
        <br>
        <legend>javascript settings</legend>
        <div class="setting">
            <label for="enable_ugoira">enable ugoira:</label>
            {% if prefs.enable_ugoira == True %}
            <input type="checkbox" name="enable_ugoira" checked>
            {% else %}
            <input type="checkbox" name="enable_ugoira">
            {% endif %}
        </div>
        <div class="setting">
            <label for="enable_autocomplete">enable autocomplete:</label>
            {% if prefs.enable_autocomplete == True %}
            <input type="checkbox" name="enable_autocomplete" checked>
            {% else %}
            <input type="checkbox" name="enable_autocomplete">
            {% endif %}
        </div>
        <br>

        <input type="submit" value="save">
    </form>
</div>
{% endblock %}